<h1>Administración </h1>

<div class="row">
  <div class="col-4 text-center p-3">
    <h1><%= @total %></h1>
    <strong>Propiedades</strong>
  </div>
  <div class="col-4 text-center p-3">
    <h1><%= @venta %></h1>
    <strong>Venta</strong>
  </div>
  <div class="col-4 text-center p-3">
    <h1><%= @renta %></h1>
    <strong>Renta</strong>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 text-center">
    <h3>Mensajes</h3>
  </div>
</div>
<div class="container">
  <%if @mensajes.count == 0%>
  <div class="row mb-2 bg-light border p-3">
    <div class="col-12 text-center">
      <h3>No hay mensajes.</h3>
    </div>
  </div>
  <%else%>
    <% @mensajes.each do |mensaje|%>
      <div class="row mb-2 bg-light border p-3">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <h5 class="mb-0"><%=mensaje.titulo%></h5>
              <p class="mt-0 mb-0"><small>Por: <%=  @asesores[mensaje.account_id-1]%></small></p>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <p><%=mensaje.mensaje%></p>
            </div>
          </div>
        </div>
    </div>
    <%end%>
  <%end%>

</div>
