<% if current_account == @account or current_account.admin? %>
  <h1>Propiedades - <%= @account.full_name %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Zona</th>
        <th>Operación</th>
        <th>Tipo</th>
        <th>Colonia</th>
        <th>Precio</th>
        <th>M const</th>
        <th>M terreno</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @mine.each do |property| %>
        <tr>
          <td><%= property.id %></td>
          <td><%= property.zona %></td>
          <td><%= property.tipoOp %></td>
          <td><%= property.tipoProp %></td>
          <td><%= property.colonia %></td>
          <td><%= number_to_currency(property.precio, locale: :en) %></td>
          <td><%= property.mConst %></td>
          <td><%= property.mTerreno %></td>

          <td><%= link_to 'Ver', property %></td>
          <td><%= link_to 'Editar', edit_property_path(property) %></td>
          <td><%= link_to 'Eliminar', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nueva propiedad', new_property_path, class:"btn btn-success" %>

<%end%>
