<nav class="navbar navbar-expand-md fixed-top bg-white">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to t('.home'), root_path, class:"nav-link text-dark text-uppercase font-weight-bold" %>
          </li>
          <li class="nav-item">
            <%= link_to t('.contact'), contacto_path, class:"nav-link text-dark text-uppercase font-weight-bold" %>
          </li>
          <li class="nav-item">
            <%= link_to t('.us'), nosotros_path, class:"nav-link text-dark text-uppercase font-weight-bold" %>
          </li>
          <%if usertemp_signed_in? %>
          <li class="nav-item">
            <%= link_to "log out", destroy_usertemp_session_path,method: :delete, class:"nav-link text-dark text-uppercase font-weight-bold" %>
          </li>
          <%else%>
          <li class="nav-item">
            <%= link_to "sign up", new_usertemp_registration_path, class:"nav-link text-dark text-uppercase font-weight-bold" %>
          </li>
          <li class="nav-item">
            <%= link_to "sign in", new_usertemp_session_path, class:"nav-link text-dark text-uppercase font-weight-bold" %>
          </li>
          <%end%>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/">
          <%= image_tag('logo-negro.png',width:'120')%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark text-uppercase font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="flag-icon flag-icon-mx"> </span>
              <span class="flag-icon flag-icon-us"> </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "English", { :locale=>'en' }, class:"dropdown-item text-dark text-uppercase font-weight-bold" %>
              <%= link_to("Español", { :locale=>'es' }, class:"dropdown-item text-dark text-uppercase font-weight-bold") %>
            </div>
          </li>
        </ul>
    </div>
</nav>
