<%= form_with(model: property, local: true) do |form| %>

  <%= render "layouts/validation",item: @property%>

  <div class="form-group">
    <%= form.label :id %>
    <%= form.text_field :id,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tipo_propiedad %>
    <%= form.select :tipoProp, options_for_select(["Departamento","Casa","Terreno","Bodega","Oficina"]), { prompt: "Selecciona" },class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tipo_operacion %>
    <%= form.select :tipoOp, options_for_select(["Venta","Renta"]), { prompt: "Selecciona" },class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :zona %>
    <%= form.text_field :zona,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :colonia %>
    <%= form.text_field :colonia,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :precio %>
    <%= form.number_field :precio,class: "form-control" %>

  </div>

  <div class="form-group">
    <%= form.label :mConst %>
    <%= form.number_field :mConst,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mTerreno %>
    <%= form.number_field :mTerreno,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :baños %>
    <%= form.select :banos, options_for_select((0..15).step(0.5)), { prompt: "Selecciona" },class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :recamaras %>
    <%= form.select :recamaras, options_for_select(0..15), { prompt: "Selecciona" },class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion,class:"form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :fotos %>
    <div class="custom-file">
      <%= form.file_field :cover_picture,class: "custom-file-input" %>
      <label class="custom-file-label" for="inputGroupFile01">Escoge los archivos</label>
    </div>
  </div>



  <div class="form-group">
    <%= form.submit "Guardar propiedad",class: "btn btn-success" %>
  </div>
<% end %>
