<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <% properties.each do |property|%>
      <div class="carousel-item ">
        <div class="property border">

            <div class="property-thumb" style="background-image:url('<%=rails_blob_url(property.cover_picture)%>')">
              <%= link_to "", property_path(property)%>
            </div>

            <div class="property-summary mb-2 p-3">
              <h3 class="h5 text-uppercase">
                <%if property.tipoOp == "Renta" %>
                  <%= t '.rent' %>
                <%else%>
                  <%= t '.sale' %>
                <%end%>
                - <%=property.tipoProp%>
              </h3>

              <span class="mr-2"><i class="fas fa-bed mr-1"></i><%= property.recamaras %></span>
              <span class="mr-2"><i class="fas fa-toilet mr-1"></i><%= property.banos %></span>
              <span><i class="fas fa-expand-arrows-alt mr-1"></i><%= property.mConst %> </span>
              <p class="mt-2"><%=number_to_currency(property.precio,precision: 0, locale: :en)%></p>
            </div>
        </div>
      </div>
    <%end%>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
