<% properties.each do |property|%>
  <div class="col-4 mb-3">
    <div class="property border">

        <div class="property-thumb" style="background-image:url('<%=rails_blob_url(property.cover_picture)%>')">
          <%= link_to "", property_path(property)%>
        </div>

        <div class="property-summary mb-2 p-3">
          <span class="h6 mb-1 text-uppercase">
            <%if property.tipoOp == "Renta" %>
              <%= t '.rent' %> - <%=property.tipoProp%>
              </span>
              <br>
              <span class="h6"><%=number_to_currency(property.precio,precision: 0, locale: :en)%>/mes</span>
              <br>
            <%else%>
              <%= t '.sale' %> - <%=property.tipoProp%>
              </span>
              <br>
              <span class="h6"><%=number_to_currency(property.precio,precision: 0, locale: :en)%></span>
              <br>
            <%end%>


          <span class="h6 mt-1 text-uppercase">
            <%=property.zona%>
            - <%=property.colonia%>
          </span>

        </div>
    </div>
  </div>
<%end%>
