<% if current_account.admin? %>
    <div class="row">
      <h1>Portada</h1>
    </div>
      <div class="row">
          <div class="col-md-12">

              <ul id="tabs" class="nav nav-tabs">
                  <li class="nav-item"><a href="" data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase">Actuales</a></li>
                  <li class="nav-item"><a href="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase active">Cambiar</a></li>
              </ul>
              <br>
              <div id="tabsContent" class="tab-content">
                  <div id="home1" class="tab-pane fade">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Zona</th>
                          <th>Colonia</th>
                          <th>Precio</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @actuales.each do |property| %>
                          <tr>
                            <td><%= property.id %></td>
                            <td><%= property.zona %></td>
                            <td><%= property.colonia %></td>
                            <td><%= number_to_currency(property.precio, locale: :en) %></td>
                          </tr>
                        <% end %>
                      </tbody>

                    </table>
                  </div>

                  <div id="profile1" class="tab-pane fade active show">
                    <%= form_for :property, :url => featured_path, :html => { :method => :patch } do |form| %>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Check</th>
                          <th>Id</th>
                          <th>Zona</th>
                          <th>Colonia</th>
                          <th>Precio</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @todas.each do |property| %>
                          <tr>
                            <td><%= check_box_tag "ids[]", property.id,checked = property.featured? %></td>
                            <td><%= property.id %></td>
                            <td><%= property.zona %></td>
                            <td><%= property.colonia %></td>
                            <td><%= number_to_currency(property.precio, locale: :en) %></td>
                          </tr>
                        <% end %>
                      </tbody>

                    </table>
                    <div class="form-group">
                      <%= form.submit "Guardar propiedad",class: "btn btn-success" %>
                    </div>
                    <%end%>
                  </div>
              </div>
          </div>
      </div>

<%end%>
