<%= form_with(model: prospecto, local: true) do |form| %>
  <% if prospecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prospecto.errors.count, "error") %> prohibited this prospecto from being saved:</h2>

      <ul>
        <% prospecto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-6 col-md-3">
      <div class="form-group">
        <%= form.label :nombre %>
        <%= form.text_field :first_name,class: "form-control" %>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-group">
        <%= form.label :apellido %>
        <%= form.text_field :last_name,class: "form-control" %>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email,class: "form-control" %>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-group">
        <%= form.label :tel %>
        <%= form.text_field :tel,class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-3">
      <div class="form-group">
        <%= form.label :status %>
        <%= form.select :status, options_for_select(["Estatus 1","Estatus 2","Estatus 3","Estatus 4","Estatus 2"]), { prompt: "Selecciona" },class:"form-control" %>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <%if current_account.admin?%>
      <div class="form-group">
        <%= form.label :asesor %>
        <%= form.select :account_id, options_for_select(@asesores), { prompt: "Selecciona" },class:"form-control" %>
      </div>
      <%else%>
      <%= form.hidden_field :account_id, :value => current_account.id %>
      <%end%>
    </div>
    <div class="col-4">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= form.label :comentario_status %>
        <%= form.rich_text_area :statuscomment %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= form.label :comentario_prospecto %>
        <%= form.rich_text_area :comment %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= form.submit "Guardar",class: "btn btn-success" %>
  </div>
<% end %>
