<% if current_account == @prospecto.account or current_account.admin? %>
<div class="container">
  <h2>Datos</h2>
  <div class="row mb-3 mt-3">
    <div class="col-4">
      <div class="row">
        <strong>Nombre:</strong>
      </div>
      <div class="row">
        <%= @prospecto.first_name %><%= @prospecto.last_name %>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <strong>Email:</strong>
      </div>
      <div class="row">
        <%= @prospecto.email %>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <strong>Teléfono:</strong>
      </div>
      <div class="row">
        <%= @prospecto.tel %>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <div class="row">
        <strong>Comentarios del estatus:</strong>
      </div>
      <div class="row">
        <%= @prospecto.statuscomment %>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <strong>Comentarios del prospecto:</strong>
      </div>
      <div class="row">
        <%= @prospecto.comment %>
      </div>
    </div>
  </div>
  <h2>Proceso</h2>
  <div class="row mt-2">
            <div class="col-xs-12">
          <!-- design process steps-->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
            <li role="presentation" class="active"><a href="#discover" aria-controls="discover" role="tab" data-toggle="tab"><i class="fa fa-search" aria-hidden="true"></i>
              <p>Discover</p>
              </a></li>
            <li role="presentation"><a href="#strategy" aria-controls="strategy" role="tab" data-toggle="tab"><i class="fa fa-send-o" aria-hidden="true"></i>
              <p>Strategy</p>
              </a></li>
            <li role="presentation"><a href="#optimization" aria-controls="optimization" role="tab" data-toggle="tab"><i class="fa fa-qrcode" aria-hidden="true"></i>
              <p>Optimization</p>
              </a></li>
            <li role="presentation"><a href="#content" aria-controls="content" role="tab" data-toggle="tab"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
              <p>Content</p>
              </a></li>
            <li role="presentation"><a href="#reporting" aria-controls="reporting" role="tab" data-toggle="tab"><i class="fa fa-clipboard" aria-hidden="true"></i>
              <p>Reporting</p>
              </a></li>
          </ul>
          <!-- end design process steps-->
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="discover">
              <div class="design-process-content">
                <h3 class="semi-bold">Discovery</h3>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
               </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="strategy">
              <div class="design-process-content">
                <h3 class="semi-bold">Strategy</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="optimization">
              <div class="design-process-content">
                <h3 class="semi-bold">Optimization</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                 </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="content">
              <div class="design-process-content">
                <h3 class="semi-bold">Content</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="reporting">
              <div class="design-process-content">
                <h3>Reporting</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<%end%>
