
  <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light imagen">
    <div class="col-md-5 p-lg-5 mx-auto my-5 text-white">
      <h1 class="display-4 font-weight-normal"><%=t '.title'%></h1>
      <p class="lead font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <section id="search-properties">
    <div class="container mb-5">
      <%= render "layouts/busqueda" %>
    </div>
  </section>

  <section id="latest-properties">
    <div class="container">
      <div class="row">
        <%= render "properties/list",properties: @featured %>
      </div>
    </div>
  </section>

  <section id="favorite-properties">
    <div class="container mt-5">
      <div class="text-center">
        <h1><%= t('.favorites') %></h1>
        <%if usertemp_signed_in?%>
          <% if current_usertemp.favorited_by_type('Property').count == 0%>
            <p class="lead text-muted"><%= t('.noprops') %></p>
          <%else %>
            <div class="row text-left">
              <%= render "properties/list2",properties: current_usertemp.favorited_by_type('Property') %>
            </div>
          <%end%>
        <%else%>
        <p class="lead text-muted"><%= t('.login') %></p>
        <%= link_to "sign in", new_usertemp_session_path, class:"btn btn-block btn-success text-uppercase" %>
        <%end%>
      </div>
    </div>
  </section>
