<%= form_tag("/search", method: "get") do %>
  <div class="row">
    <div class="col-6 col-md-3 pb-4">
      <%= label_tag(t('.type'))%>
      <%= select_tag(:tipoOp, options_for_select([ t('.rent'), t('.sell') ], t('.rent')), {:class => 'form-control'}) %>
    </div>
    <div class="col-6 col-md-3">
      <%= label_tag(t('.property'))%>
      <%= select_tag(:tipoProp, options_for_select([ t('.appartment'), t('.house'),t('.terreno'),t('.warehouse'),t('.office') ], t('.house')), {:class => 'form-control'}) %>
    </div>
    <div class="col-6 col-md-3">
      <%= label_tag(t('.zone'))%>
      <%=  select_tag(:zona, options_for_select([ "Norte", "Sur" ], "Sur"), {:class => 'form-control'}) %>
    </div>
    <div class="col-6 col-md-3">
      <%= label_tag(t('.nbhd'))%>
      <%= select_tag(:colonia, options_for_select([ "Hola", "Contry" ], "Hola"), {:class => 'form-control'}) %>
    </div>
  </div>


  <div class="row mt-3 justify-content-end">
    <div class="col-12 col-md-3">
      <%= submit_tag(t('.search'),:class=>"btn btn-block negro text-uppercase font-weight-bold") %>
    </div>
  </div>
<% end %>
